In [81]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

h1bOrig = pd.read_excel('src/data/H-1B_Case_Data_FY2009.xlsx')
h1bOrig.head()

,SUBMITTED_DATE,CASE_NO,PROGRAM_DESIGNATION,EMPLOYER_NAME,EMPLOYER_ADDRESS1,EMPLOYER_ADDRESS2,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_COUNTY,EMPLOYER_POSTAL_CODE,NBR_IMMIGRANTS,BEGIN_DATE,END_DATE,JOB_TITLE,DOL_DECISION_DATE,OCCUPATIONAL_CODE,OCCUPATIONAL_TITLE,APPROVAL_STATUS,WAGE_RATE_1,RATE_PER_1,MAX_RATE_1,PART_TIME_1,CITY_1,STATE_1,PREVAILING_WAGE_1,WAGE_SOURCE_1,YR_SOURCE_PUB_1,OTHER_WAGE_SOURCE_1,WAGE_RATE__2,RATE_PER_2,MAX_RATE_2,PART_TIME_2,CITY_2,STATE_2,PREVAILING_WAGE_2,WAGE_SOURCE_2,YR_SOURCE_PUB_2,OTHER_WAGE_SOURCE_2,WITHDRAWN
0,2008-10-01,I-08273-4505943,R,"GENESIS ELDERCARE REHABILITATION SERVICES, INC.",101 EAST STATE STREET,NaN,KENNETT SQUARE,PA,CHESTER,19348,1,2008-10-01,2011-09-30,OCCUPATIONAL THERAPIST,2008-10-01,76.0,THERAPISTS,CERTIFIED,28,HR,34.96,N,MAPLE HEIGHTS,OH,28,Other,2008.0,OES ONLINE WAGE LIBRARY,28.0,hr,34.96,N,EAST CLEVELAND,OH,28.0,Other,2008.0,OES Online Wage Library,N
1,2008-10-01,I-08275-4509657,R,"AMERICA'S COLLECTIBLES NETWORK, INC.",10001 KINGSTON PIKE,NaN,KNOXVILLE,TN,KNOX,37922,1,2009-01-18,2012-01-17,SOFTWARE ENGINEER MTS IIIA,2008-10-01,30.0,OCCUPATIONS IN SYSTEMS ANALYSIS AND PROGRAMMING,CERTIFIED,75000,YR,NaN,N,KNOXVILLE,TN,72259,SESA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2,2008-10-01,I-08275-4509659,R,SAMSUNG INFORMATION SYSTEMS AMERICA INC.,75 WEST PLUMERIA DRIVE,NaN,SAN JOSE,CA,SANTA CLARA,95134,1,2008-10-06,2011-10-05,STAFF FIRMWARE ENGINEER 1,2008-10-01,3.0,ELECTRICAL/ELECTRONICS ENGINEERING OCCUPATIONS,CERTIFIED,118000,YR,NaN,N,SAN JOSE,CA,103854,Other,2007.0,ONLINE WAGE LIBRARY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
3,2008-10-01,I-08273-4505947,R,"GENESIS ELDERCARE REHABILITATION SERVICES, INC.",101 EAST STATE STREET,NaN,KENNETT SQUARE,PA,CHESTER,19348,1,2008-10-01,2011-09-30,OCCUPATIONAL THERAPIST,2008-10-01,76.0,THERAPISTS,CERTIFIED,28,HR,34.96,N,NORTH RANDALL,OH,28,Other,2008.0,OES ONLINE WAGE LIBRARY,28.0,hr,34.96,N,CLEVELAND,OH,28.0,Other,2008.0,OES Online Wage Library,N
4,2008-10-01,I-08275-4509661,R,"WORLDWIDE SOFTWARE SERVICES, INC.",211 5TH AVENUE SOUTH,NaN,CLINTON,IA,CLINTON,52732,2,2008-10-01,2011-10-01,COMPUTER ANALYST,2008-10-01,30.0,OCCUPATIONS IN SYSTEMS ANALYSIS AND PROGRAMMING,CERTIFIED,48000,YR,NaN,N,JACKSONVILLE,FL,47382,Other,2008.0,OES,48000.0,yr,NaN,N,CLINTON,IA,42682.0,Other,2008.0,OES,N

In [82]:
data = h1bOrig
data.columns = ['CASE_SUBMITTED','CASE_NUMBER','VISA_CLASS','EMPLOYER_NAME','EMPLOYER_ADDRESS1','EMPLOYER_ADDRESS2','EMPLOYER_CITY','EMPLOYER_STATE','EMPLOYER_COUNTY','EMPLOYER_POSTAL_CODE','TOTAL_WORKERS','EMPLOYMENT_START_DATE','EMPLOYMENT_END_DATE','JOB_TITLE','DECISION_DATE','DOT_CODE','DOT_NAME','CASE_STATUS','WAGE_RATE_OF_PAY_FROM','WAGE_UNIT_OF_PAY','WAGE_RATE_OF_PAY_TO','PART_TIME','WORKSITE_CITY','WORKSITE_STATE','PREVAILING_WAGE','PW_WAGE_SOURCE','PW_SOURCE_YEAR','PW_SOURCE_OTHER','WAGE_RATE_OF_PAY_2','WAGE_UNIT_OF_PAY_2','MAX_RATE_2','PART_TIME_2','WORKSITE_CITY_2','WORKSITE_STATE_2','PREVAILING_WAGE_2','PW_WAGE_SOURCE_2','PW_SOURCE_YEAR_2','PW_WAGE_SOURCE_OTHER_2','WITHDRAWN']
data.dtypes

CASE_SUBMITTED            datetime64[ns]
CASE_NUMBER                       object
VISA_CLASS                        object
EMPLOYER_NAME                     object
EMPLOYER_ADDRESS1                 object
EMPLOYER_ADDRESS2                 object
EMPLOYER_CITY                     object
EMPLOYER_STATE                    object
EMPLOYER_COUNTY                   object
EMPLOYER_POSTAL_CODE              object
TOTAL_WORKERS                      int64
EMPLOYMENT_START_DATE     datetime64[ns]
EMPLOYMENT_END_DATE       datetime64[ns]
JOB_TITLE                         object
DECISION_DATE             datetime64[ns]
DOT_CODE                         float64
DOT_NAME                          object
CASE_STATUS                       object
WAGE_RATE_OF_PAY_FROM              int64
WAGE_UNIT_OF_PAY                  object
WAGE_RATE_OF_PAY_TO              float64
PART_TIME                         object
WORKSITE_CITY                     object
WORKSITE_STATE                    object
PREVAILING_WAGE                    int64
PW_WAGE_SOURCE                    object
PW_SOURCE_YEAR                   float64
PW_SOURCE_OTHER                   object
WAGE_RATE_OF_PAY_2               float64
WAGE_UNIT_OF_PAY_2                object
MAX_RATE_2                       float64
PART_TIME_2                       object
WORKSITE_CITY_2                   object
WORKSITE_STATE_2                  object
PREVAILING_WAGE_2                float64
PW_WAGE_SOURCE_2                  object
PW_SOURCE_YEAR_2                 float64
PW_WAGE_SOURCE_OTHER_2            object
WITHDRAWN                         object
dtype: object

In [83]:
data['CASE_SUBMITTED'] = data['CASE_SUBMITTED'].dt.strftime('%Y-%m-%d')
data['DECISION_DATE'] = data['DECISION_DATE'].dt.strftime('%Y-%m-%d')
data['WAGE_RATE_OF_PAY_FROM'] = data['WAGE_RATE_OF_PAY_FROM'].apply(float)

data.head()

,CASE_SUBMITTED,CASE_NUMBER,VISA_CLASS,EMPLOYER_NAME,EMPLOYER_ADDRESS1,EMPLOYER_ADDRESS2,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_COUNTY,EMPLOYER_POSTAL_CODE,TOTAL_WORKERS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,JOB_TITLE,DECISION_DATE,DOT_CODE,DOT_NAME,CASE_STATUS,WAGE_RATE_OF_PAY_FROM,WAGE_UNIT_OF_PAY,WAGE_RATE_OF_PAY_TO,PART_TIME,WORKSITE_CITY,WORKSITE_STATE,PREVAILING_WAGE,PW_WAGE_SOURCE,PW_SOURCE_YEAR,PW_SOURCE_OTHER,WAGE_RATE_OF_PAY_2,WAGE_UNIT_OF_PAY_2,MAX_RATE_2,PART_TIME_2,WORKSITE_CITY_2,WORKSITE_STATE_2,PREVAILING_WAGE_2,PW_WAGE_SOURCE_2,PW_SOURCE_YEAR_2,PW_WAGE_SOURCE_OTHER_2,WITHDRAWN
0,2008-10-01,I-08273-4505943,R,"GENESIS ELDERCARE REHABILITATION SERVICES, INC.",101 EAST STATE STREET,NaN,KENNETT SQUARE,PA,CHESTER,19348,1,2008-10-01,2011-09-30,OCCUPATIONAL THERAPIST,2008-10-01,76.0,THERAPISTS,CERTIFIED,28.0,HR,34.96,N,MAPLE HEIGHTS,OH,28,Other,2008.0,OES ONLINE WAGE LIBRARY,28.0,hr,34.96,N,EAST CLEVELAND,OH,28.0,Other,2008.0,OES Online Wage Library,N
1,2008-10-01,I-08275-4509657,R,"AMERICA'S COLLECTIBLES NETWORK, INC.",10001 KINGSTON PIKE,NaN,KNOXVILLE,TN,KNOX,37922,1,2009-01-18,2012-01-17,SOFTWARE ENGINEER MTS IIIA,2008-10-01,30.0,OCCUPATIONS IN SYSTEMS ANALYSIS AND PROGRAMMING,CERTIFIED,75000.0,YR,NaN,N,KNOXVILLE,TN,72259,SESA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2,2008-10-01,I-08275-4509659,R,SAMSUNG INFORMATION SYSTEMS AMERICA INC.,75 WEST PLUMERIA DRIVE,NaN,SAN JOSE,CA,SANTA CLARA,95134,1,2008-10-06,2011-10-05,STAFF FIRMWARE ENGINEER 1,2008-10-01,3.0,ELECTRICAL/ELECTRONICS ENGINEERING OCCUPATIONS,CERTIFIED,118000.0,YR,NaN,N,SAN JOSE,CA,103854,Other,2007.0,ONLINE WAGE LIBRARY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
3,2008-10-01,I-08273-4505947,R,"GENESIS ELDERCARE REHABILITATION SERVICES, INC.",101 EAST STATE STREET,NaN,KENNETT SQUARE,PA,CHESTER,19348,1,2008-10-01,2011-09-30,OCCUPATIONAL THERAPIST,2008-10-01,76.0,THERAPISTS,CERTIFIED,28.0,HR,34.96,N,NORTH RANDALL,OH,28,Other,2008.0,OES ONLINE WAGE LIBRARY,28.0,hr,34.96,N,CLEVELAND,OH,28.0,Other,2008.0,OES Online Wage Library,N
4,2008-10-01,I-08275-4509661,R,"WORLDWIDE SOFTWARE SERVICES, INC.",211 5TH AVENUE SOUTH,NaN,CLINTON,IA,CLINTON,52732,2,2008-10-01,2011-10-01,COMPUTER ANALYST,2008-10-01,30.0,OCCUPATIONS IN SYSTEMS ANALYSIS AND PROGRAMMING,CERTIFIED,48000.0,YR,NaN,N,JACKSONVILLE,FL,47382,Other,2008.0,OES,48000.0,yr,NaN,N,CLINTON,IA,42682.0,Other,2008.0,OES,N

In [84]:
data['EMPLOYER_ADDRESS'] = (data['EMPLOYER_ADDRESS1'].map(str) + ' ' + data['EMPLOYER_ADDRESS2'].map(str)).str.replace('nan', '').str.upper().str.strip()

In [85]:
data['VISA_CLASS'] = data['VISA_CLASS'].replace('R', 'H-1B')
data['VISA_CLASS'] = data['VISA_CLASS'].replace('A', 'E-3 Australian')
data['VISA_CLASS'] = data['VISA_CLASS'].replace('C', 'H-1B1 Chile')
data['VISA_CLASS'] = data['VISA_CLASS'].replace('S', 'H-1B1 Singapore')

In [86]:
data['FULL_TIME_POSITION'] = 1
data.loc[data.PART_TIME == 'Y', 'FULL_TIME_POSITION'] = 0

In [101]:
data['SOC_CODE'] = None
data['SOC_NAME'] = None
data['EMPLOYER_AREA_CODE'] = None
data['NAIC_CODE'] = None
data['WORKSITE_POSTAL_CODE'] = None

In [88]:
data['WAGE_UNIT_OF_PAY'] = data['WAGE_UNIT_OF_PAY'].replace('BI', 'B')
data['WAGE_UNIT_OF_PAY'] = data['WAGE_UNIT_OF_PAY'].replace('HR', 'H')
data['WAGE_UNIT_OF_PAY'] = data['WAGE_UNIT_OF_PAY'].replace('MTH', 'M')
data['WAGE_UNIT_OF_PAY'] = data['WAGE_UNIT_OF_PAY'].replace('WK', 'W')
data['WAGE_UNIT_OF_PAY'] = data['WAGE_UNIT_OF_PAY'].replace('YR', 'Y')

data['PW_UNIT_OF_PAY'] = data['WAGE_UNIT_OF_PAY']

In [99]:
data['WAGE_RATE_OF_PAY_FROM'] = data['WAGE_RATE_OF_PAY_FROM'].replace(0, np.nan)
data['WAGE_RATE_OF_PAY_TO'] = data['WAGE_RATE_OF_PAY_TO'].replace(0, np.nan)
data['WAGE_RATE_OF_PAY'] = data[['WAGE_RATE_OF_PAY_FROM', 'WAGE_RATE_OF_PAY_TO']].mean(axis=1)

In [102]:
data = data[['CASE_SUBMITTED', 'CASE_NUMBER', 'CASE_STATUS', 'DECISION_DATE', 'VISA_CLASS',
                                  'JOB_TITLE', 'DOT_CODE', 'SOC_CODE', 'SOC_NAME', 'FULL_TIME_POSITION',
                                  'EMPLOYER_NAME', 'EMPLOYER_ADDRESS', 'EMPLOYER_CITY', 'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE',
                                  'EMPLOYER_AREA_CODE', 'NAIC_CODE', 'TOTAL_WORKERS', 
                                  'WORKSITE_CITY', 'WORKSITE_STATE', 'WORKSITE_POSTAL_CODE', 
                                  'WAGE_RATE_OF_PAY', 'WAGE_UNIT_OF_PAY', 'PREVAILING_WAGE', 'PW_UNIT_OF_PAY',
                                  'WITHDRAWN']]

In [103]:
data.head()

,CASE_SUBMITTED,CASE_NUMBER,CASE_STATUS,DECISION_DATE,VISA_CLASS,JOB_TITLE,DOT_CODE,SOC_CODE,SOC_NAME,FULL_TIME_POSITION,EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_AREA_CODE,NAIC_CODE,TOTAL_WORKERS,WORKSITE_CITY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,WAGE_RATE_OF_PAY,WAGE_UNIT_OF_PAY,PREVAILING_WAGE,PW_UNIT_OF_PAY,WITHDRAWN
0,2008-10-01,I-08273-4505943,CERTIFIED,2008-10-01,H-1B,OCCUPATIONAL THERAPIST,76.0,None,None,1,"GENESIS ELDERCARE REHABILITATION SERVICES, INC.",101 EAST STATE STREET,KENNETT SQUARE,PA,19348,None,None,1,MAPLE HEIGHTS,OH,None,31.48,H,28,H,N
1,2008-10-01,I-08275-4509657,CERTIFIED,2008-10-01,H-1B,SOFTWARE ENGINEER MTS IIIA,30.0,None,None,1,"AMERICA'S COLLECTIBLES NETWORK, INC.",10001 KINGSTON PIKE,KNOXVILLE,TN,37922,None,None,1,KNOXVILLE,TN,None,75000.00,Y,72259,Y,N
2,2008-10-01,I-08275-4509659,CERTIFIED,2008-10-01,H-1B,STAFF FIRMWARE ENGINEER 1,3.0,None,None,1,SAMSUNG INFORMATION SYSTEMS AMERICA INC.,75 WEST PLUMERIA DRIVE,SAN JOSE,CA,95134,None,None,1,SAN JOSE,CA,None,118000.00,Y,103854,Y,N
3,2008-10-01,I-08273-4505947,CERTIFIED,2008-10-01,H-1B,OCCUPATIONAL THERAPIST,76.0,None,None,1,"GENESIS ELDERCARE REHABILITATION SERVICES, INC.",101 EAST STATE STREET,KENNETT SQUARE,PA,19348,None,None,1,NORTH RANDALL,OH,None,31.48,H,28,H,N
4,2008-10-01,I-08275-4509661,CERTIFIED,2008-10-01,H-1B,COMPUTER ANALYST,30.0,None,None,1,"WORLDWIDE SOFTWARE SERVICES, INC.",211 5TH AVENUE SOUTH,CLINTON,IA,52732,None,None,2,JACKSONVILLE,FL,None,48000.00,Y,47382,Y,N